@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.container {
	position: relative;
	outline: 2px solid rgb(51, 51, 51);
	margin:5px auto;
}
.containerBackground {
  height: 800px;
  width: 1000px;
  background-image: url("../images/space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
}
.gameGrid {
	display: inline-block;
}
.playerShip {
   background-image: url("../images/playership.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.motherShip {
  background-image: url("../images/planet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.alienShip {
  background-image: url("../images/alien.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hidden {
  display: none;
}
.quit {
  color: #6A0A0A;
}
.reset {
  color: #004685;
}
.bullet {
  background-image: url("../images/lazer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bold {
  font-weight: bold;
}
body {
  background-color: #fff;
  font-family: 'San Francisco',  sans-serif;
  width: 1000px;
  margin: 0 auto;
  color: rgb(51, 51, 51);
}
h1  {
  font-size: 200%;
  /* font-weight: lighter; */
  margin: 18px 5px 0 5px;
}
header {
  border-bottom: 2px solid rgb(51, 51, 51);
}
nav {
  margin-top: 7px;
  text-align: right;
}
nav ul {
  margin: 0px 0px 5px 5px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 6px;
}
nav ul li:hover {
  font-weight: bolder;
}

footer {
border-top: 2px solid rgb(51, 51, 51);
font-size: 75%;
}
footer p {
  margin: 5px 5px;
}
.hide {
  display: none;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
}
.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  color: white;
  text-align: center;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.inputPilot {
  border-radius: 4px;
}
.clickToPlay {
  border: 2px solid white;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.pilotList {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.leaderText {
  width: 1000px
}
.gameWonText {
  font-weight: bold;
  font-size: 2em;
}
